PRODUCT_BUNDLE_IDENTIFIER = com.myexample.staging
BUNDLE_ID = $(PRODUCT_BUNDLE_IDENTIFIER)
CODE_SIGN_IDENTITY=iPhone Distribution
PROVISIONING_PROFILE_SPECIFIER = match AdHoc com.myexample.staging
PROVISIONING_PROFILE = $(sigh_${BUNDLE_ID}_adhoc)
DEVELOPMENT_TEAM = XXXXXXXX

// For Firebase Analytics
OTHER_LDFLAGS = $(inherited) -ObjC